{% extends "process/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
{{block.super}}
{% jsinclude "nm" %}
<style type="text/css">
.errorlist { color: red; }
</style>
<script type="text/javascript">
(function($) {
  var csrf_token;

  function main()
  {
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
  }
  $(main);
})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Add {{type_desc}}</h1>

{% include explain_template with edit=True %}

{% if blurb %}
<p>For your convenience, you can generate the signed statement with this
command, and the site will recognise the text and accept it without a need of
manual validation of its content:</p>

<pre>
(
  {% for line in blurb %}echo {{line}}
  {% endfor %}
) | gpg --clearsign --default-key {{visitor.fpr}}
</pre>
{% endif %}

<p>Use <tt>gpg --clearsign --default-key {{visitor.fpr}}</tt> to generate the
signed statement. Tip: pipe it to <tt>xclip</tt> to have it copied to the
clipboard for easy pasting.</p>

<p>It is a good idea to include some context information like the date and
nm.debian.org in the text, in case someone tries to reuse the signed statement
somewhere else.</p>

<p>The signature will be verified using the key {{visitor.fpr|fingerprint}}</p>

{% if requirement.type != "sc_dmup" %}
<p>The statement will be sent to <a href="https://lists.debian.org/debian-newmaint">debian-newmaint</a> as <tt>{{visitor.fullname}}
    {% if "edit_email" in visit_perms %}
      <a href="{% url 'person_edit_email' key=visitor.lookup_key %}">&lt;{{visitor.email}}&gt;</a></tt>.
    {% else %}
      &lt;{{visitor.email}}&gt;</tt>.
    {% endif %}
</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}        
  {{ form.non_field_errors }}
  <input type="submit" value="Submit">
</form>

{% endblock %}
